BeautifulSoup==3.2.1
Django==1.7
Naked==0.1.30
PIL==1.1.7
Pillow==2.6.1
PyInstaller==2.1
PyYAML==3.11
Pygments==1.6
Scrapy==0.24.4
South==0.8.2
Sys==1.0
Twisted==14.0.0
altgraph==0.12
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
asyncio==3.4.1
awscli==1.3.25
bcdoc==0.12.2
billiard==2.7.3.34
boto==2.32.1
botocore==0.59.0
celery==3.0.25
cffi==0.8.6
colorama==0.2.5
couchbase==1.2.3
crypto==1.0.1
cryptography==0.5.4
cssselect==0.9.1
cssutils==0.9.10
dj-database-url==0.3.0
dj-static==0.0.5
django-bootstrap-sass==0.0.6-alpha
django-celery==3.0.23
django-crispy-forms==1.2.8
django-grappelli==2.5.3
django-paging==0.2.5
django-picklefield==0.3.1
django-smart-extends==0.7.0
django-social-auth==0.7.28
django-static-compiler==0.3.3
django-templatetag-sugar==0.1
django-toolbelt==0.0.1
docutils==0.12
dulwich==0.9.7
ecdsa==0.10
email-reply-parser==0.2.0
flake8==2.2.3
gnureadline==6.3.3
gunicorn==0.17.4
hg-git==0.6.1
httpagentparser==1.2.2
httplib2==0.9
ipython==2.1.0
jmespath==0.4.1
kombu==2.5.16
logan==0.5.10
lxml==3.3.5
macholib==1.7
matplotlib==1.2.0
mccabe==0.2.1
mercurial==2.9.1
modulegraph==0.12
nydus==0.10.8
oauth2==1.5.211
oauthlib==0.6.3
paramiko==1.12.1
passlib==1.6.2
pep8==1.5.7
pexpect==3.1
psycopg2==2.5.3
pwn==2014.08.18
py2app==0.9
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
pyflakes==0.8.1
pynliner==0.5.1
pystache==0.5.4
python-dateutil==1.5
python-memcached==1.53
python-openid==2.2.5
python-social-auth==0.1.26
pytz==2014.7
queuelib==1.2.2
raven==5.0.0
redis==2.8.0
ren==0.6.0
requests==2.3.0
requests-oauthlib==0.4.1
rsa==3.1.2
sentry==6.4.4
setproctitle==1.1.8
simplegui==0.1.0
simplejson==3.3.3
six==1.7.3
static==1.0.2
sympy==0.7.5
telnetlib3==0.2.3
tools==0.0.3
urllib3==1.7.1
vboxapi==1.0
virtualenv==1.11.6
w3lib==1.10.0
wsgiref==0.1.2
yolk==0.4.3
zope.interface==4.1.1
