<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
<head>
<meta charset="UTF-8">
<title>410還權於民·重返立院</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<style>
    /*p {color:green}*/
    .nav-primary {
        text-decoration: none;
        /*padding: 0em 0em 0em 0em;*/
        margin: 0.7em 0.7em 0.7em 0.7em;
        -moz-border-radius: 0.8em 0.8em 0.8em 0.8em;
        border-radius: 0.8em 0.8em 0.8em 0.8em;  /*standards-compliant: (IE)*/
        /*font-size: 200%;*/
        /*float: right;*/
        /*display: inline-block;*/
        /*width: 7em;*/
        text-align: center;
        font-family: sans-serif;
    }
    /*.container {*/
        /*width: 80em;*/
        /*margin: auto;*/
    /*}*/
    /*.content {*/
        /*color: #905d5c;*/
        /*font-family:Microsoft JhengHei, sans-serif;*/

    /*}*/
    /*header {*/
        /*background-color: #ffffff;*/
    /*}*/
    /*.content {*/
        /*background-color: #ecdbd1;*/
        /*width: 80em;*/
    /*}*/
    /*a.left {*/
        /*margin-left: 10%;*/
    /*}*/
    /*body {*/
        /*margin: 0;*/
        /*padding: 0;*/
    /*}*/
</style>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
</head>

<body>
<div class="full-head" style="width: 100%;background-color: #ffffff; margin-top: 3em;margin-bottom: 3em;">
    <div class="head" style="width: 80em;margin: auto;background-color: #ffffff">
        <div class="" style="width:25em;color: #905d5c;font-family: sans-serif;">
            <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/410.svg" alt="410還權於民·重返立院" id="410logo" style="width: 28em; float: left;"/>
        </div>
        <header class="" style="width:52em;display: inline-block; color: #905d5c;font-family: sans-serif;">
            <ul class="" style="list-style-type:none;float: left">
                <a href="../statement/"><li class="nav-primary" style="width: 9em;float: left;background-color: #ecdbd1;color: #905d5c;"><h1 style="font-size: 150%">行動聲明</h1></li></a>
                <a href="../claim/"><li class="nav-primary" style="width: 10em;float: left;background-color: #ecdbd1;color: #905d5c;"><h1 style="font-size: 150%">我們的訴求</h1></li></a>
                <a href="../action/"><li class="nav-primary" style="width: 10em;float: left;background-color: #ecdbd1;color: #905d5c;"><h1 style="font-size: 150%">我們的行動</h1></li></a>
                <a href="."><li class="nav-primary" style="width: 10em;float: left;background-color: #6c2626;color: #ffffff;"><h1 style="font-size: 150%">立委表態牆</h1></li></a>
            </ul>
        </header>
    </div>
</div>
<div style="float: left;width: 100%;margin-bottom: 2.5em;"></div>
<!--<div class="full-body" style="width: 100%;background-color: #ecdbd1;">-->
    <!--<div class="action-body" style="width: 80em;margin: auto;background-color: #ecdbd1;">-->
<div class="full-body" style="width: 100%;background-color: #ecdbd1;padding-bottom: 2em;background-image: url(https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/hand.svg);background-position: left bottom;background-repeat: no-repeat;">
    <div class="action-body" style="width: 80em;margin: auto;">
        <div class="action-sidebar" style="width:20em;text-align: right;display: inline-block; color: #905d5c;font-family: sans-serif;vertical-align: top;">
            <h1 style="font-size: 3em;">立委表態牆</h1>
            <h2 style="font-size: 2em;">最新表態率：0/113</h2>
            <span style="display:inline-block;width: 11em;text-align: center;"><h1 style="background-color: #AC917E;color: #FFFFFF;padding-top: 0.3em;padding-bottom: 0.3em;">→已表態</h1></span>
            <span style="display:inline-block;width: 11em;text-align: center;"><h1 style="background-color: #D5BFB1;color: #8F5C5B;padding-top: 0.3em;padding-bottom: 0.3em;">未表態</h1></span>
        </div>
        <div class="action-article" style="width:58em;text-align: left;display: inline-block; color: #905d5c;font-family: sans-serif;font-weight: bold;">
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%B0%A4%E7%BE%8E%E5%A5%B3.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/dpp.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">尤美女</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E8%94%A1%E6%AD%A3%E5%85%83.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/kmt.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">蔡正元</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E5%91%A8%E5%80%AA%E5%AE%89.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/tsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 1em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 1em;">周倪安</h3>
            </div>
            <div style="width: 12em;float: left;background-color: #ffffff;border-radius: 10px;margin: 1em;">
                <div style="width: 10em;height: 12em;padding-left: 1em;padding-right: 1em;margin-top:0.5em;margin-bottom:0.5em;overflow: hidden;">
                    <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/%E9%AB%98%E9%87%91%E7%B4%A0%E6%A2%85.png" alt="" style="width: 10em;overflow: hidden;"/>
                </div>
                <img src="https://ef759e7ab8ebacebb837df58b36f0346a93140e2-www.googledrive.com/host/0B3zZU8B9RCrhY0RlbzdKUldTQXM/npsu.svg" alt="" style="width: 3.5em;padding-left: 1.5em;padding-right: 0em;float: left;"/>
                <h3 style="font-size: 1.5em;margin-top: 0em;margin-bottom: 0.3em;float: right;padding-right: 0.5em;">高金素梅</h3>
            </div>


        </div>
    </div>
</div>
<div class="full-leg" style="width:100%;margin: auto;background-color: #ffffff;">
    <div class="action-leg" style="width: 80em;padding-top: 2em;padding-bottom: 2em;margin: auto">
        <footer style="color: #905d5c;font-family: sans-serif;font-size: 1.5em;text-align: center;">
            <p><h3>410還權於民·重返立院</h3></p>
        </footer>
    </div>
</div>
</body>

</html>