<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>410還權於民·重返立院</title>
</head>

<body>

<nav>
  <a href="" class="nav-static">行動聲明</a>
  <a href="" class="nav-static">我們的訴求</a>
  <a href="" class="nav-static">我們的行動</a>
  <a href="" class="nav-static">立委表態牆</a>
</nav>

自1991年終止動員戡亂時期以來，台灣歷經了七次憲法修正、五次總統直選、二次政黨輪替，雖然曾經締造民主的奇蹟，對自由人權的保障亦逐漸強化，惟台灣的民主一方面依然尚未完全鞏固，一方面亦不斷遭逢新的挑戰。在過去數年的民主實踐中，從核四續建爭議、反媒體壟斷立法、會計法修正、九月政爭、到黑箱服貿協議，我們一次又一次地見證「代議民主失靈」的現象。由人民透過選舉賦予權力、付託責任的代議士，原本應該踐行承諾、尊重民意，卻在實際的政治權力行使上，屢屢出現背棄承諾、踐踏民意的失控惡行，迫使人民必須一次又一次地走上街頭、發出怒吼，力圖阻止這些失控的代議士，傷害台灣得來不易的民主。

台灣民主需要進行再一次的全盤改革。目前，要求憲政改革的呼聲已逐漸興起，各種不同的憲改方案，亦紛紛出現。我們全力支持、也深信台灣需要一個真正由下而上、以人民為本的憲政改革運動。在另一方面，同樣重要的是，用以矯正「代議民主失靈」的憲法直接民權，必須還給人民。

具體而言，針對代議民主失靈的問題，憲法實際上早已提供了人民對抗的基本權利：就背棄民意的代議士，賦予人民罷免權；就違反民意的政策，賦予人民創制複決的公民投票權。一個「對人」、一個「對事」的直接民權，兩相結合不僅具有事先預防政客胡作非為的嚇阻功能，也有事後改正的矯治功能。

然而，長久以來，這兩種直接民權之所以近乎形同虛設，無法發揮有效作用，問題並非在憲法的層次，而是在法律的層次。也就是現行「公民投票法」與「罷免法制」利用極不合理的超高門檻，讓人民無法行使公投權利、也讓人民難以罷免失控政客。這些惡法導致人民憲法權利的實質剝奪，徹底地空洞化憲法所設置的直接民主機制。

也正是因為如此，在「人民作主」千里苦行運動的堅持下，「補正公投法」的呼聲早已持續多年；修正罷免法制的訴求，也伴隨「憲法133」及「割闌尾運動」的進行，取得公民廣泛的支持。前年十月十日「公民1985」在立法院外所舉行的「天下為公」集會，更是聚集了超過六萬名公民，再度要求國會補正公投法、修改選罷法，讓「還權於民」的吶喊震撼了博愛特區的天空。

憲政改革必須積極進行。然而，憲政改革絕不能成為轉移焦點的煙霧彈，更不應成為迴避修法改革的藉口。因此，為了實踐「人民作主」的理念，我們決定發起新一波的「還權於民」運動，在立法院推動「公投法的補正」與「罷免法制的修正」，號召所有的台灣公民，共同加入要求代議士修正不合理的法律，將憲法直接民權還給人民的行列，透過積極的行動，奪回屬於國家主人的權利。


</body>

</html>